@media only screen and (max-width: 1200px) {
    .informationItem {
        margin: 1% .2%;
        max-width: 45% !important;
        flex-grow: 2;
        background-color: white;
        box-shadow: 2px 2px #888888;
        text-align: center;
    }
}

@media only screen and (min-width: 1201px) {
    .informationItem {
        margin: 1% .2%;
        max-width: 17.5% !important;
        flex-grow: 2;
        background-color: white;
        box-shadow: 2px 2px #888888;
        text-align: center;
    }
}

.imageDisplayer {
    border-bottom: 1px solid #888888;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
}

.colorButton {
    height: 40px;
    border: 1px solid black !important;
}

.colorButton + .colorButton {
    margin-left: 10px;
}

.priceText {
    font-weight: bolder;
}