.textArea {
    text-align: center;
    padding-top: 15%;
}

.orderPlacedText {
    font-size: 40px;
    font-weight: bolder;
    color: #3f51b5;
}

.mailingText {
    font-size: 20px;
    font-weight: bolder;
}

.thanksText {
    font-size: 20px;
    font-weight: bolder;
}
